.inline-notice ul{
 padding-left:0px;
}
.inline-notice ul li {
    list-style-type: none;
}
.inline-notice .cards-card-body {
    margin-bottom: 32px;
    margin-left: 135px;
}

.inline-notice .cards-card-image {
    float: left;
    height:72px;
    width:72px;
    margin-right: 50px;
}
.inline-notice .cards-card-body ul li {
    list-style-type: disc;
   margin-left:20px;
    color:#383838;
}

.inline-notice .cards-card-body > *:first-child {
    margin-top: 30px;
}
.inline-notice .cards-card-body > *:last-child {
    margin-bottom: 48px;
}
@media (max-width: 480px){

    .inline-notice ul{
    width:auto;
}

    .inline-notice .cards-card-image {
        float:initial;
        width: 100%;
        max-width:none;
        margin-left: auto;
        margin-right:auto;
        height:72px;
        width:72px;
        margin-bottom:24px;
    }

    .inline-notice .cards-card-body {
        margin-bottom: 32px;
        margin-left: auto;
        margin-right:auto;
        
}
  
}
