.inline-notice ul li {
    list-style-type: none;
}
.inline-notice .cards-card-body {
    margin-bottom: 32px;
    margin-left: 150px;
}

.inline-notice .cards-card-image {
    float: left;
    height:100px;
    width:100px;
    margin-right: 50px;
}
.inline-notice .cards-card-body ul li {
    list-style-type: disc;
    color:#383838;
}

.inline-notice .cards-card-body > *:first-child {
    margin-top: 0;
}
