.columns > div {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 16px;
}

.columns img {
    width: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}


@media (min-width: 900px) {
    .columns > div {
        display: flex;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        /* margin-left: 32px; */
        margin-right: 24px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}

/*Card header*/
.columns h5{
    color: #383838;
} 

/* Mobile image for card*/
@media only screen and (max-width: 768px){
    .columns img{
       border-top-right-radius: 16px;
       border-bottom-left-radius: 0px;
    }
    .columns div:nth-child(2){
        margin: 0px 24px;
    }
}