.section-1 > ul {
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-gap: 30px;
}

.section-1 > ul > li {
    background-color: var(--background-color)
}

.section-1 .cards-card-body {
    margin: 16px;
}

.section-1 .cards-card-image {
    line-height: 0;
}

.section-1 .cards-card-body > *:first-child {
    margin-top: 0;
}

.section-1 > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
