.section-1 > ul {
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-gap: 40px;
}
.section-1 > ul li {
    margin-right:25px;
}
