.quicklink-card > ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.quicklink-card > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color);
    border-radius: 16px;
}

.quicklink-card .cards-card-body h5{
   
    color: rgb(255, 255, 255);
    background-color:#0047BB ;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    height: 48px;
    border-radius: 10px 12px 0px 0px;
    line-height: 28px;
    letter-spacing: 0.25px;
    align-content: center;
    padding-left: 24px;
    padding-top: 14px;

    
}

.quicklink-card .cards-card-body strong a{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25px;
    display: list-item;
    height: 32px;
    padding-left: 24px;
    padding-top: 14px;
    text-decoration: underline;
    text-decoration-color: #0047BB;
    background-color: #ffffff
    
}

#events{
    border-left: 4px solid rgb(0, 33, 138); 
    color: rgb(0, 33, 138);
    font-weight: 700;
    text-decoration: none;
}

#events > a:any-link {
    color:rgb(0, 33, 138); 
    
}
.quicklink-card .cards-card-image {
    line-height: 0;
}

.quicklink-card .cards-card-body > *:first-child {
    margin-top: 0;
}

.quicklink-card > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.quicklink-card .cards-card-body > *:third-child {
    border-radius: 10px 12px 0px 0px;
}


